html{
	font-size: 16x;
}
	body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	/*margin: 0 auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width:90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	/*height: 110px;*/
	/*border-bottom: 3px solid #77a466;*/
	/*margin: 0 auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width:100%;
}

header h1 {
	/*float: left;*/
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	/*float: right;*/
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 10px 10px;
	display: block;
	text-align: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	/*margin: 0 auto;
	clear: both;*/
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	width:90%;
}

.main-image {
	/*height: auto;
	float: left;*/
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	/*height: auto;
	float: left;*/
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	/*height: auto;
	float: left;*/
	border-top: 1px solid #eee;
	/*display: flex;
	justify-content: right;
	align-items: center;*/
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	/*border-left: 1px solid #eee;
	border-right: 1px solid #eee;*/
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
	padding: 0;
}

.address {
	font-size: 16px;
	line-height: 24px;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	/*height: 50px;*/
	border-top: 3px solid #eee;
	/*margin: 0 auto;
	clear: both;*/
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}






@media (min-width:768px) {
	header h1{
		border-bottom:none;
	}

	header nav{
		width:100%;
		border-top: 3px solid #77a466;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 30%;

	}

	.section-two,
	.section-three {
		padding-right:10px;
		padding-left:10px;
	}

	.section-one{
		padding-right: 10px;
		
	}

	.section-one,
	.section-two,
	.section-three {
		border-top:none;
	}

	.section-one,
	.section-two{
		border-right: 1px solid #eee;
	}

	.bottom-section {
		flex-flow: row;
		width:90%;
		border-top: 1px solid #eee;
	}
}

@media (min-width:1200px){
	header{
		width:90%;
	}

	header nav{
		width:50%;
		border-top: none;
	}

	header nav ul li {
		display: inline;
		padding: 5px 5px;
	}

	header h1{
		width:50%;
	}
}